@mixin gapMixinX($gap) {
  & > * {
    & + * {
      margin-left: $gap;
    }
  }
}

@mixin gapMixinY($gap) {
  & > * {
    margin-bottom: $gap;
  }
}

@mixin gapMixin($gap) {
  @include gapMixinX($gap);
  @include gapMixinY($gap);
}


.tk-block-gap-x {
  &-xs {
    @include gapMixinX(5px)
  }

  &-sm {
    @include gapMixinX(10px)
  }

  &-md {
    @include gapMixinX(16px)
  }

  &-lg {
    @include gapMixinX(20px)
  }

  &-xl {
    @include gapMixinX(26px)
  }
}

.tk-block-gap-y {
  &-xs {
    @include gapMixinY(5px)
  }

  &-sm {
    @include gapMixinY(10px)
  }

  &-md {
    @include gapMixinY(16px)
  }

  &-lg {
    @include gapMixinY(20px)
  }

  &-xl {
    @include gapMixinY(26px)
  }
}

.tk-block-gap {
  &-xs {
    @include gapMixin(5px)
  }

  &-sm {
    @include gapMixin(10px)
  }

  &-md {
    @include gapMixin(16px)
  }

  &-lg {
    @include gapMixin(20px)
  }

  &-xl {
    @include gapMixin(26px)
  }
}

.text {
  &-xs {
    font-size: 12px !important;
  }

  &-sm {
    font-size: 14px !important;
  }

  &-md {
    font-size: 16px !important;
  }

  &-lg {
    font-size: 18px !important;
  }

  &-xl {
    font-size: 20px !important;
  }

  &-inherit {
    font-size: inherit !important;
  }
}

.text {
  &-primary {
    color: $primary !important;
  }
  &-secondary {
    color: $secondary !important;
  }
  &-accent {
    color: $accent !important;
  }
  &-dark-page {
    color: $dark-page !important;
  }
  &-dark {
    color: $dark !important;
  }
  &-light {
    color: $light !important;
  }
  &-success {
    color: $success !important;
  }
  &-error {
    color: $error !important;
  }
  &-info {
    color: $info !important;
  }
  &-warning {
    color: $warning !important;
  }
  &-color-white {
    color: $color-white !important;
  }
  &-color-black {
    color: $color-black !important;
  }
  &-color-text {
    color: $color-text !important;
  }
  &-color-blue {
    color: $color-blue !important;
  }
  &-color-brown {
    color: $color-brown !important;
  }
  &-color-gray {
    color: $color-gray !important;
  }
  &-color-green {
    color: $color-green !important;
  }
  &-color-indigo {
    color: $color-indigo !important;
  }
  &-color-orange {
    color: $color-orange !important;
  }
  &-color-pink {
    color: $color-pink !important;
  }
  &-color-purple {
    color: $color-purple !important;
  }
  &-color-red {
    color: $color-red !important;
  }
  &-color-teal {
    color: $color-teal !important;
  }
  &-color-yellow {
    color: $color-yellow !important;
  }
}

.tk-fieldset {
  border: $layout-border;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: $border-radius;
  padding: 20px;

  legend {
    padding: 0 5px;

    h1, h2, h3, h4, h5, p {
      margin: 0;
    }
  }
}

.tk-form {
  .tk-form-row {
    width: 100%;
    display: flex;

    & + .tk-form-row {
      margin-top: 10px;
      min-height: 34px;
    }

    & > :nth-child(1) {
      width: 150px;
      display: flex;
      align-items: center;

      overflow: hidden;
      word-break: break-all;
    }

    & > :nth-child(2) {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}

.tk-scroll {
  //滚动条样式
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: overlay;
  }

  $scrollbar-fg: $primary; //rgba(0, 0, 0, .3);
  $scrollbar-fg-dark: $primary; //rgba(255, 255, 255, .3);
  $scrollbar-bg: rgba(0, 0, 0, .1);
  $scrollbar-bg-dark: rgba(255, 255, 255, .1);

  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 1px 0 $dark inset;
    background: $scrollbar-fg;
    border-radius: $border-radius;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0 0 1px 0 $dark inset;
    background: $scrollbar-bg;
    border-radius: $border-radius;
  }

  //黑色风格滚动条
  .bg-dark {

    ::-webkit-scrollbar-corner {
      background: $scrollbar-bg-dark
    }

    ::-webkit-scrollbar-thumb {
      background: $scrollbar-fg-dark;
    }

    ::-webkit-scrollbar-track {
      background: $scrollbar-bg-dark
    }

    &::-webkit-scrollbar-corner {
      background: $scrollbar-bg-dark
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-fg-dark
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-bg-dark
    }
  }
}

@mixin transitionTheme {
  transition: background-color .3s, color .3s;
}

.tk-dark-theme {
  background-color: $dark;
  color: $color-white;
  @include transitionTheme;

  option {
    background-color: $dark;
    color: $color-white;
  }
}

.tk-light-theme {
  background-color: $light;
  color: $color-black;
  @include transitionTheme;
}
