$primary: #8dbb72;
$primary-opacity: opacify($primary, 0.3);
$secondary: #66CCFF;
$accent: rgba(255, 128, 192);
$border-color: rgb(204, 204, 204, .5);
$separator-color: rgba(148, 148, 148, .32);

$border-radius: 4px;
$container-width: 1400px;
$container-padding: 10px;

$layout-border: 1px solid $separator-color;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

$color-white: #ffffff;
$color-black: #000000;
$color-text: #333;


$color-blue: #007aff;
$color-brown: #a2845e;
$color-gray: #8e8e93;
$color-green: #28cd41;
$color-indigo: #5856d6;
$color-orange: #ff9500;
$color-pink: #ff2d55;
$color-purple: #af52de;
$color-red: #ff3b30;
$color-teal: #5ac8fa;
$color-yellow: #ffcc00;


$color-dark_blue: #0a84ff;
$color-dark_brown: #ac8e68;
$color-dark_gray: #98989d;
$color-dark_green: #32d74b;
$color-dark_indigo: #5e5ce6;
$color-dark_orange: #ff9f0a;
$color-dark_pink: #ff375f;
$color-dark_purple: #bf5af2;
$color-dark_red: #ff453a;
$color-dark_teal: #64d2ff;
$color-dark_yellow: #ffd60a;

$transition_fx1: cubic-bezier(0.694, 0, 0.335, 1);
$transition_fx2: cubic-bezier(0.23, 1, 0.32, 1);

@mixin boxShadow() {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.25s $transition_fx1;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  }
}

$mq_mobile_min_width: 330px; // 618px // 426px
$mq_mobile_width: 567px; // 618px // 426px
$mq_mobile_height_land: 485px; // Landscape
$mq_tablet_width: 1024px; // 768px
$mq_pc_min_width: 1450px; // 1440px
$mq_pc_min_height: 768px; // 768px
$mq_pc_2k_width: 2300px; // 2560px
$mq_pc_2k_height: 1250px; // 1328px
