html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

body {
  margin: 0;

  &.tk-aero {
    //background: linear-gradient(to bottom, #ff7847, #00eaff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://api.dujin.org/bing/1920.php");
  }
}

hr {
  border-top: none;
  border-color: $border-color;
}
