.tk-input {
  border: $layout-border;
  padding: $common-padding;
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  border-radius: $border-radius;
  outline-color: $separator-color;

  &._size-xs {
    font-size: 12px;
  }

  &._size-sm {
    font-size: 14px;
  }

  &._size-md {
    font-size: 16px;
  }

  &._size-lg {
    font-size: 18px;
  }

  &._size-xl {
    font-size: 20px;
  }

  &._theme-black {
    border-color: $color-black;
    outline-color: $color-black;
    color: $color-black;
  }

  &._theme-success {
    border-color: $success;
    outline-color: $success;
    color: $success;
  }

  &._theme-error {
    border-color: $error;
    outline-color: $error;
    color: $error;
  }

  &._theme-info {
    border-color: $info;
    outline-color: $info;
    color: $info;
  }

  &._theme-warning {
    border-color: $warning;
    outline-color: $warning;
    color: $warning;
  }

}
