//.tk-input-wrap {
//  display: inline-flex;
//}

.tk-input, .tk-dropdown {
  border: $layout-border;
  padding: $common-padding;
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  border-radius: $border-radius;
  outline-color: $separator-color;

  @include textSize;

  &._theme-black {
    border-color: $color-black;
    outline-color: $color-black;
    color: $color-black;
  }

  &._theme-accent {
    border-color: $accent;
    outline-color: $accent;
    color: $accent;
  }
  &._theme-secondary {
    border-color: $secondary;
    outline-color: $secondary;
    color: $secondary;
  }

  &._theme-success {
    border-color: $success;
    outline-color: $success;
    color: $success;
  }

  &._theme-error {
    border-color: $error;
    outline-color: $error;
    color: $error;
  }

  &._theme-info {
    border-color: $info;
    outline-color: $info;
    color: $info;
  }

  &._theme-warning {
    border-color: $warning;
    outline-color: $warning;
    color: $warning;
  }

}
