.tk-link {
  display: inline-block;
  color: $color-blue;
  text-decoration: none;

  &.is-underline, &:hover {
    text-decoration: underline;
  }
  @include textSize;

  &._theme-inherit {
    color: inherit;
  }
  &._theme-white {
    color: $color-white;
  }
  &._theme-black {
    color: $color-black;
  }

  &._theme-success {
    color: $success;
  }
  &._theme-error {
    color: $error;
  }
  &._theme-info {
    color: $info;
  }
  &._theme-warning {
    color: $warning;
  }
}
