@mixin loadingSize {
  &._size-xs {
    width: 10px;
    height: 10px;
    font-size: 12px;
    border-width: 4px;
  }
  &._size-sm {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-width: 6px;
  }
  &._size-md {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-width: 10px;
  }
  &._size-lg {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-width: 10px;
  }
  &._size-xl {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-width: 15px;
  }
}

@mixin loadingTheme {
  &._theme-white {
    border-top-color: $color-white !important;
  }
  &._theme-black {
    border-top-color: $color-black !important;
  }

  &._theme-accent {
    border-top-color: $accent !important;
  }
  &._theme-secondary {
    border-top-color: $secondary !important;
  }

  &._theme-success {
    border-top-color: $success !important;
  }
  &._theme-error {
    border-top-color: $error !important;
  }
  &._theme-info {
    border-top-color: $info !important;
  }
  &._theme-warning {
    border-top-color: $warning !important;
  }
}

.tk-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &._absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .loading-spinner {
    width: 30px;
    height: 30px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: $primary !important;
    border-radius: 100%;
    animation: rotating360 1.5s infinite linear;

    @include loadingTheme;
    @include loadingSize;
  }

  .loading-text {
    padding-top: 5px;
    font-size: 16px;

    @include textSize;
  }
}

.tk-dark-theme {
  .tk-loading {
    .loading-spinner {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }
}
