$nav_height = 50px

navBackground($opacity = 0.7)
  background-color rgba(0, 0, 0, $opacity)
  backdrop-filter saturate(180%) blur(20px)

navOpenMenuTransition($t = 0.25s)
  transition all $t $transition_fx2

.tk-nav-header
  position: relative
  z-index 999

  .w-container {
    width $container_width
    padding 0 $container_padding
    margin 0 auto
    box-sizing border-box
    @media screen and (max-width: $mq_tablet) {
      width 100%
    }

    .logo-wrap, .header-right {
      width 100px
    }
    .header-right {
      text-align: right;
    }
  }

  .nav-height-placeholder {
    height $nav_height
  }

  .global-nav
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color #fff
    // backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid $color_border
    transition all .25s $transition_fx2

    &.fixed {
      position: fixed

      & > .w-container {
        height $nav_height

        .logo-wrap {
          & > img {
            width ($nav_height - 12px)
            height ($nav_height - 12px)
          }
        }
      }
    }

    & > .w-container
      height $nav_height
      display flex
      align-items center
      justify-content space-between
      transition all .25s
      transition-timing-function $transition_fx2
      @media screen and (max-width $mq_mobile)
        padding-right: 0
        position: relative
        &.open
          background #fff

      .logo-wrap
        display flex
        align-items center
        text-decoration: none !important;
        color $color_black

        &:hover
          opacity 0.9

        &:active
          opacity: 1;

        & > img
          width $nav_height
          height $nav_height
          border-radius 50%
          transition all .25s
          transition-timing-function $transition_fx2
          @media screen and (max-width $mq_mobile)
            width ($nav_height - 12px)
            height ($nav_height - 12px)

        & > p
          font-size 18px
          font-weight: bold
          margin-left: 10px
          transition font-size .25s
          @media screen and (max-width $mq_mobile)
            font-size 18px

      .links-wrap
        height: 100%
        padding-left: 0
        align-self stretch
        display flex
        align-items center
        text-align: center

        .link-group {
          height: 100%
          display inline-flex
          align-items center
          justify-content center
          position: relative;
          @media screen and (max-width: $mq_mobile) {
            height auto
            width: 100%
            display block
            overflow: auto
          }

          &:hover {
            .link-submenu {
              display block
            }
          }
        }

        .link-item {
          display inline-flex
          padding 0 10px
          height: 70%
          align-items center
          justify-content center
          color: $color_theme
          text-decoration: none
          border-radius $border_radius

          @media screen and (max-width: $mq_mobile) {
            height 35px
            font-weight: bold;
            width: 100%
            justify-content flex-start
          }

          &:hover {
            text-decoration: none
            background $color_theme
            color #fff
          }
        }

        .link-submenu {
          display none
          position: absolute;
          top: 85%
          left 0
          background #fff
          border 1px solid $color_border

          @media screen and (max-width: $mq_mobile) {
            border none
            margin-left: 20px
            display: block;
            position unset
          }

          .link-item {
            font-size: 14px
            line-height: 2
            width: 100%
            justify-content flex-start
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media screen and (max-width: $mq_mobile) {
              font-weight: normal;
            }
          }
        }

        @media screen and (max-width: $mq_mobile)
          position: absolute
          z-index 100
          padding 0 20px
          top $nav_height
          left 0
          right 0
          height 0
          overflow: hidden
          navOpenMenuTransition()
          border-bottom: 1px solid rgba(255, 255, 255, 0)
          text-align: left
          display block
          .link-item
            display block
            padding 10px 0
            margin-left: 0 !important

          &.open
            background #fff
            height auto
            border-color rgba(255, 255, 255, 0.2)

            .link-item
              opacity 1

      .mobile-menu
        display none
        @media screen and (max-width: $mq_mobile)
          display flex
          align-items center
          .btn-openmenu
            width 40px
            height 23px
            margin-right: 10px
            background none
            border 0
            outline none
            color: $color_theme
            navOpenMenuTransition()
            position: relative
            padding 0

            &:before, &:after
              background $color_theme
              content: " ";
              display: block;
              position: absolute;
              top: 10px;
              width: 13px;
              height: 1px;
              z-index: 1;
              navOpenMenuTransition()

            &:before
              right 50%
              transform: rotate(40deg) scaleY(1.5)

            &:after
              left 39.5%
              transform: rotate(-40deg) scaleY(1.5)

            &.active
              &:before
                transform: rotate(-40deg) scaleY(1.5)

              &:after
                transform: rotate(40deg) scaleY(1.5)

      .mobile-menu-shade
        display none
        @media screen and (max-width: $mq_mobile)
          display block
          position: absolute
          top 0
          left 0
          width 100%
          height 100vh
          z-index -1
          background transparent
          navOpenMenuTransition(0.7s)
          visibility hidden

        &.open
          visibility visible
          background rgba(0, 0, 0, 0.3)

