.tk-pager {
  text-align: center;
  margin: 20px auto;

  button {
    line-height: 1.5;
    font-size: 14px;
    min-width: 35px;
    cursor: pointer;
    outline: none;

    &[disabled] {
      cursor: not-allowed;
    }

    &.active {
      color: #fff;
      background: $primary;
    }
  }

  .page-items {
    display: inline-block;

    button + button {
      margin-left: 4px;
    }
  }
}
